@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Cal+Sans&family=Comfortaa:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "tailwindcss";

:root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page{
  background-image: linear-gradient(300deg, #131313, #313131, #000000, #000000)
}

/* HeaderHome.jsx */
.cinenode-header{
  font-family: "Michroma", sans-serif;
  color: #fff;
}

.header-text{
  font-family: "Raleway", sans-serif;
}

input[type="text"]{
  font-family: "Manrope", sans-serif;
  color: #fff;
  background-color: transparent;
  border: none;
  border: 1px solid #fff;
}

/* SearchSection.jsx */
.search-header{
  font-family: "Raleway", sans-serif;
}

::placeholder{
  font-family: "Raleway", sans-serif;
  color: grey;
  opacity: 0.8;
}

.search-results{
  font-family: "Manrope", sans-serif;
  color: #fff;
}

.search-btn{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.instructions{
  font-family: "Raleway", sans-serif;
}

.start-movie, .end-movie{
  font-family: "Aldrich", sans-serif;
}

.start-game-btn, .actors-names{
  font-family: "Raleway", sans-serif;
  color: white;
}

.header-above-cast{
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
}